.perfil {
    background-color: white;
}

.perfil h2 {
    text-align: center;
    font-size: 2rem;
}

.perfil p {
    text-align: center;
}

.description {
    background-color: white;
    text-align: justify;
}